server {
    listen        80;

    resolver 127.0.0.11 ipv6=off;

    root /statics;
    location /orders/ {
        proxy_pass         http://${ORDERS_ADDR}/;
    }

    location /items/ {
        proxy_pass         http://${ITEMS_ADDR}/;
    }


    location /auth/ {
        proxy_pass         http://${AUTH_ADDR}/;
    }
}