server {
    listen        80;

    resolver 127.0.0.11 ipv6=off;

    location /order {
        proxy_pass         http://${ORDERS_ADDR}/order;
    }

    location /items {
        proxy_pass         http://${ITEMS_ADDR}/items;
    }
    location /item {
        proxy_pass         http://${ITEMS_ADDR}/item;
    }

    location /auth/ {
        proxy_pass         http://${AUTH_ADDR}/;
    }
}